.card {
  width: 800px;
}

.large-card {
  width: 1700px;
  padding-top: 0px; /* Adjust the top padding */
  position: relative; /* Ensure absolute positioning works correctly */
}

.icon {
  border-radius: 50px;
  background-color: #4333A1;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 5px; /* Adjust the top padding */
  margin-top: 10px;
  margin-bottom: 10px;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items at the start of the cross axis */
  flex: 1; /* Take up available space */
  padding-right: 20px; /* Add padding to the right */
}

.stats {
  padding-bottom: 20px; /* Add padding to separate stats from savingPotsList */
}

.amountText {
  padding-top: 20px;
}

.depositedWithdrawnContainer {
  display: flex;
  gap: 20px;
  padding-top: 43px;
}

.depositedText, .withdrawnText {
  display: flex;
  flex-direction: column;
}

.ringProgress {
  margin-top: 25px; /* Adjust the top margin to lower the RingProgress */
  padding-left: 100px;
  flex: 1; /* Take up available space */
}

.pieChart {
  margin-left: 20px;
  padding-left: 50px;
}

.topRightText {
  position: absolute;
  top: 10px;
  right: 10px;
}

.bottomRightButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.bottomRightButton button:hover {
  background-color: #ffffff00;
}

.savingPotsListTitle {
  padding-bottom: 15px;
}

.savingPotsList {
  flex: 1; /* Take up available space */
}

.listItemContent {
  display: flex;
  flex-direction: column;
}

.textItem {
  padding-bottom: 5px;
}

.progressContainer {
  position: relative;
}

.progressLabel {
  position: absolute;
  top: -20px;
  right: 0;
}

/* Add faint lines between rows */
.tableContainer table tbody tr {
  border-bottom: 1px solid #e0e0e0;
}

.tableContainer table tbody tr:last-child {
  border-bottom: none;
}

.tableContainer table th:first-child,
.tableContainer table td:first-child {
  width: 1%;  /* Adjust this value as needed */
}

.tableContainer table th:nth-child(2),
.tableContainer table td:nth-child(2) {
  width: 1%;  /* Adjust this value as needed */
}

/* Reduce padding to minimize spacing */
.tableContainer table th,
.tableContainer table td {
  padding: 5px 5px;  /* Adjust padding as needed */
}

/* Align Name column to the left */
.name-column {
  text-align: left;
  padding-right: 10px;  /* Adjust this value as needed */
}

/* Align Amount column to the right */
.amount-column {
  text-align: right;
}

/* Apply text alignment to header cells */
.tableContainer table thead th.name-column {
  text-align: left;
}

.tableContainer table thead th.amount-column {
  text-align: right;
}

.paginationContainer {
  float: right;
  padding-top: 20px;
}

.category-text {
  color: grey;
  font-size: 12px;
  margin: 0;
  padding: 0;
  display: block;
}

.table-header{
  padding-bottom: 5px;
}


