.app-container {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 30px;
  top: 0;
  position: relative;
}

.user-menu-container {
  position: absolute;
  top: var(--mantine-spacing-md);
  right: var(--mantine-spacing-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.modal-buttons {
  float: right;
  padding-top: 20px;
  padding-bottom: 20px;
}

.full-width-card {
  width: 100%;
  margin-bottom: 20px;
}

.mantine-DatePickerInput-day[data-selected]{
  background-color: #4333A1 !important;
}
