body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFE;
}

.app-container {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 100px;
  top: 0;
  position: relative;
}

.user-menu-container {
  position: absolute;
  top: var(--mantine-spacing-md);
  right: var(--mantine-spacing-md);
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.modal-buttons {
  float: right;
  padding-top: 20px;
}
