/* Layout styles */
.home-page {
  width: 100%;
  padding: 20px;
}

.dashboard-title {
  font-weight: 800;
  padding-bottom: 20px;
  text-align: left;  
  padding-left: 600px;  
}

.cards-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.cards-container {
  display: flex;
  flex-direction: column;
  width: 100%; 
  max-width: 100%; 
  padding-left: 600px;
  padding-right: 300px;
}

.full-width-card {
  width: 100%;
  margin-bottom: 20px;
}

.bottom-cards-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: stretch; /* This ensures both cards stretch to the same height */
}

.half-width-card {
  width: calc(50% - 10px); /* Keep the width as 50% minus the gap */
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1; /* This makes the card grow to fill its container */
}

.inner {
  flex: 0 0 auto; /* Don't allow this to grow or shrink */
}

.tableContainer {
  flex: 1; /* Allow this to grow and fill remaining space */
}
.inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  padding-right: 20px;
}

.stats {
  padding-bottom: 20px;
}

.amountText {
  padding-top: 20px;
}

.topRightText {
  position: absolute;
  top: 10px;
  right: 10px;
}

.savingPotsListTitle {
  padding-bottom: 15px;
}

.textItem {
  padding-bottom: 5px;
}

.progressLabel {
  position: absolute;
  top: -20px;
  right: 0;
}

/* Table styles */
.tableContainer table tbody tr {
  border-bottom: 1px solid #e0e0e0;
}

.tableContainer table tbody tr:last-child {
  border-bottom: none;
}

.tableContainer table th:first-child,
.tableContainer table td:first-child {
  width: 1%;
}

.tableContainer table th:nth-child(2),
.tableContainer table td:nth-child(2) {
  width: 1%;
}

.tableContainer table th,
.tableContainer table td {
  padding: 5px 5px;
}

.name-column {
  text-align: left;
  padding-right: 10px;
}

.amount-column {
  text-align: right;
}

.paginationContainer {
  float: right;
  padding-top: 20px;
}

.category-text {
  color: grey;
  font-size: 12px;
  margin: 0;
  padding: 0;
  display: block;
}


